{% extends 'Uphaar/base.html' %}
{%load static%}




{%block content%}


    <div class="card bg-dark text-white">
        <img src="{%static 'home/Uphaar/uphaarImages/2-7.jpg'%}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Knowing Uphaar</h5>
        </div>
      </div>

      <div class="card-columns">
        <div class="card">
          <img src="{%static 'home/Uphaar/uphaarImages/SZEWEif48VrZAU8jVFie1023QrKnK4vBKIV85Twhx1Q.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title1">Our Mission & Vision</h5>
            <p class="card-text">We aims to create a world where everyone has access to the basic necessities of life, including shelter, education, and healthcare. We aim to provide these materials to the most vulnerable and marginalized populations, such as refugees, low-income families, people with disabilities, and the elderly.Our mission is to provide essential materials and support to individuals and communities in need to help them overcome poverty, improve their health and well-being, and build better futures for themselves and their families.In addition to providing materials, we also work to empower communities, promote sustainable development, and foster social and economic justice. Overall, the vision and mission of us to provide materials to needy people is to alleviate suffering, improve living conditions, and help individuals and communities achieve their full potential.</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Initiatives</p>
            <footer class="blockquote-footer">
            <p>We often take the initiative to distribute materials to individuals and communities in need. These materials can include a wide range of items such as food, clothing, medical supplies, educational materials, and more.</p>
            <p>1. Education: We may distribute educational materials such as books, school supplies, and educational software to underprivileged schools and communities.</p>
            <p>2. Healthcare: We may distribute medical supplies and equipment to under-resourced clinics, hospitals, and health centers.</p>
            <p>3. Poverty Alleviation: We also distribute food, clothing, and other essential items to impoverished communities to help meet their basic needs.</p>
            <p>4. Environmental Protection: We also distribute materials such as reusable bags, water bottles, and recycling bins to promote environmental sustainability and reduce waste.</p>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img src="{%static 'home/Uphaar/uphaarImages/3467605421_1c09647ce4_b.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title1">Values & Guiding Principles</h5>
            <p class="card-text">1. Empathy and Compassion: Uphaar working with poor people are guided by a deep sense of empathy and compassion for those living in poverty.</p>
            <p class="card-text">2. Human Dignity: Uphaar recognize the inherent worth and dignity of all human beings, regardless of their socioeconomic status. </p>
            <p class="card-text">3. Accountability: Uphaar recognize the importance of being accountable to the communities they serve, their donors, and the public. </p>
            <p class="card-text">4. Collaboration: Uphaar recognize that addressing poverty requires collaboration and partnership between governments, communities, and other organizations.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Help others achieve their dreams and you will achieve yours.</p>
            <footer class="blockquote-footer text-white">
              <small>
                by <cite title="Source Title">Les Brown</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title1">Processing Center</h5>
            <p class="card-text">An NGO processing center is a facility where NGOs can perform various tasks such as receiving, sorting, processing, and distributing materials or goods. Processing centers are often used by NGOs that are involved in disaster relief, humanitarian aid, or development work.
              The primary purpose of an NGO processing center is to streamline the distribution process and ensure that the materials and goods reach their intended beneficiaries efficiently.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="{%static 'home/Uphaar/uphaarImages/IMG_20230322_185904.jpg'%}" class="card-img" alt="...">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Founder’s Profile</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                by <cite title="Source Title">Vishal & Rishit</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title1">Our Design and Strategy Principles</h5>
            <p class="card-text">Design and strategy principles of NGOs refer to the guiding principles that NGOs follow to achieve their goals and objectives. These principles help NGOs to be more effective and efficient in their work and help them to create sustainable change.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

     {%endblock content%}