<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="Uphaar.css">

    
  <script src="https://kit.fontawesome.com/5348f81d42.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

</head>
<body>
    <section id="header">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" href="#"><img class="img1" src="uphaarImages/uphaarImg.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="file:///C:/Users/hp/Documents/New%20folder%20(3)/Bootstrap/DOM/Uphaar/Uphaar.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="aboutUs.html">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contribute Material
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="Dropping Centres.html">Dropping Centers</a>
                    <a class="dropdown-item" href="center.html">Collection Campus</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="contactUs.html">Contact Us</a>
                </li>
              </ul>
        
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
            <button type="button" class="btn btn-warning"style="margin-left:3%" ><a class="hyperContribute" href="contribute.html">Register</a></button>
          </nav>

    </section>

    <div class="card bg-dark text-white">
      <img src="uphaarImages/1606938238_03dhanbad2_5c.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Collection Camps</h5>
      </div>
    </div>

    <p class="question">
      Q: How do I organize collection drive in my office/colony/schools.. What kind of support GOONJ will provide to initiate the collection?
    </p>
    <p class="answer">
      Ans: First please talk to us about what exactly do you want to do including the basic information, what, where, how, when, why. Once we have the basic information we can guide you on what steps need to be taken before initiating a collection drive. If need be we will also provide you leaflets for local publicity and manpower. Organizing a collection drive may sound like a simple enough thing, but having done it consistently for the last many years, trust us that we know where the usual bottlenecks come up. We want your collection drive to be a big success, it not only helps us, it encourages more people to take up this kind of initiative.
    </p>
    <p class="question">
      Q: What is the list of material that you take ?
    </p>
    <p class="answer">
      Ans: Clothing is one of the three basic needs (out of food, shelter and clothing). It not only symbolizes a person’s dignity but also offers a protection against the elements. While there are more than 100 issues being talked about in the development sector, right from domestic violence to global warming, this basic need doesn’t find a mention anywhere. GOONJ wants to make clothing a matter of concern as an important issue. In addition, we also encourage people to contribute other household items like stationery, toys, utensils.
    </p>
    <section id="footer">
        <div class="container-fluid">
           <a class="social-link" href=""><i class="social fa-brands fa-twitter"></i></a> 
           <a class="social-link" href=""> <i class="social fa-brands fa-facebook-f"></i></a> 
            <a class="social-link" href="https://www.instagram.com/"> <i class="social fa-brands fa-instagram"></i></a> 
            <a class="social-link" href=""> <i class="social fa-solid fa-envelope"></i></a> 
          </div>
    </section>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="Uphaar.js"></script>
</body>
</html>