{% extends 'Uphaar/base.html' %}


{%load static%}
{%block content%}
    <div class="card bg-dark text-white">
        <div style="display:flex; justify-content: center;">
            <iframe style="border-radius: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119066.54141359898!2d72.75225577812554!3d21.159185739074985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e59411d1563%3A0xfe4558290938b042!2sSurat%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1668857128940!5m2!1sen!2sin" width="100%" height="350" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="card-img-overlay">
          <h5 class="card-title">Our Office</h5>
        </div>
      </div>

      <div class="card-bodydrop">
        <h3 class="drop-heading">Surat</h3>
        <hr>
        <p class="drop-para">Address : Uphaar,Flat no.-B/420,NH-08,valthan(Near Punjabi Dhaba)</p>
        <p class="drop-para">Contact : 8679076221</p>
        <p class="drop-para">Email : Uphaar.org</p>
        <p class="drop-para">Timing : Monday - Saturday 10.00 AM - 5.00 PM (closed on Sundays and holidays)</p>
     </div>
     {%endblock content%}   